body{
    background-color: brown;
    margin: 0;
    padding: 0;
}
h1{
    color: rgb(9, 0, 128);
    font-style: italic;

  }
  h4{
      color: cyan;
  }
  p{
      color: rgb(255, 243, 71);
  }

  .intro{
      background-color: turquoise;
      width: 100%;
      padding: 20px;
  }

  h1 {
    text-align: center;
  }
  
  h2 {
    text-align: left;
  }
  
  p {
    text-align: right;
  }